@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
 
  
  color-scheme: light dark;
}

.nav-link {
  color: #474747; /* Cor padrão */
  text-decoration: none; /* Sem sublinhado */
  transition: color 0.3s ease; /* Efeito suave */
}

.nav-link:hover,
.nav-link .active {
  color: #C92071; /* Cor em hover e quando ativo */
}


body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
  /* Esconde a barra de rolagem horizontal, se não for necessária */
}

footer{
  background-color: #1F1F1F;
}
