@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
 
  

  color-scheme: light dark;
}

body {
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 
  /* Esconde a barra de rolagem horizontal, se não for necessária */
}


/* input {
  padding: 1.04rem 10rem;
  background-color: #eee9e9;
  color: black;
  border: 10;
  border-radius: 0.8rem;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: start;
} */


footer{
  background-color: #1F1F1F;
}
