// Importa Bootstrap completo
@import "bootstrap/scss/bootstrap";

// Adicione suas customizações abaixo
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
 
  
  color-scheme: light dark;
}


.nav-link {
  color: #474747; /* Cor padrão */
  text-decoration: none; /* Sem sublinhado */
  transition: color 0.3s ease; /* Efeito suave */
}

.nav-link:hover,
.nav-link:active,
.nav-link:link {
  color: #C92071; /* Cor em hover e quando ativo */
}



html, body {

  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: rgba(245, 245, 245, 1);

  
 
  /* Esconde a barra de rolagem horizontal, se não for necessária */
}
h1,h2 {
   font-weight: 800;
  
 
  /* Applying weight 800 to headings */
}


footer{
  background-color: #1F1F1F;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  
  height: 12px;
 
  border-radius: 50%;
 
  background-color: #949494;
  
  margin: 0 5px;


}

.nav-underline .nav-link.active {
  --bs-nav-underline-link-active-color:#C92071;
  color: var(--bs-nav-underline-link-active-color);
  /* Define a cor desejada */
}

.carousel-indicators .active {
  background-color: #C92071
  
}

$bg-secondary: (
  "background": red
);

$bs-nav-underline-link-active-color: (
  "color": #c92071
)



